div {
    height: 90vh;
    background: rgb(132,63,251);
    background: linear-gradient(157deg, rgba(132,63,251,1) 44%, rgba(70,147,252,1) 100%);
   
}

mat-card {
    width: 30%;
    margin: 0 auto;
    top: 50px;
}
