<mat-toolbar color="primary">
    <a [routerLink]="['/usersAdd']" mat-raised-button matTooltip="Agregar Usuario">
        <mat-icon>person_add</mat-icon>
        Usuario
    </a>

    <a [routerLink]="['/usersAddTeacher']" mat-raised-button matTooltip="Agregar Profesor">
        <mat-icon>person_add</mat-icon>
        Profesor
    </a>

    <a [routerLink]="['/mattersAdd']" mat-raised-button matTooltip="Agregar Materia">
        <mat-icon>laptop_chromebook</mat-icon>
        Matería
    </a>

    <a [routerLink]="['/coursesAdd']" mat-raised-button matTooltip="Agregar Curso">
        <mat-icon>school</mat-icon>
        Curso
    </a>
</mat-toolbar>
