<div>
    <mat-card>
        <mat-card-title>Registrar Matería</mat-card-title>

        <mat-card-content>
            <form>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="P. ej. Matematicas" value="Química">
                </mat-form-field>

                <button type="submit" mat-raised-button color="primary"> Guardar </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
